/* main.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#fishList, #locationList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 66%;
}

#tipList {
    margin: 20px 0;
    outline: 1px solid rgb(81, 82, 81);
    flex: 1;
    padding: 20px;
    margin-left: 20px;
}

#fishList .card, #locationList .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(47% - 20px); /* Adjust width for spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tipList ul {
    padding: 0;
}

#tipList ul li {
    margin-left: 20px;
}

section {
    margin: 20px 0;
    outline: 1px solid rgb(81, 82, 81);
}

.fishCard {
    width: 48%;
}