/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container, .tips, .locations {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    padding: 1rem;
    flex: 1 1 calc(50% - 1rem); /* Two cards per row */
}

.tips ul {
    list-style-type: none;
    padding: 0;
}

.tips ul li {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
    padding: 1rem;
}

.tips ul li h3 {
    margin: 0 0 0.5rem;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card h3 {
    margin: 0.5rem 0;
}

.card p {
    margin: 0.25rem 0;
}
